### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players=len(purchase_data)
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#Run basic calculations

unique_items= len(purchase_data["Item ID"].unique())
avg_price= purchase_data["Price"].mean()
total_purchases_made= len(purchase_data["Purchase ID"])
total_revenue= purchase_data["Price"].sum()

# Create data frame with obtained values formatted with currency
purchasing_summary = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[avg_price], 
                           "Number of Purchases": [total_purchases_made], 
                           "Total Revenue": [total_revenue]})
purchasing_summary.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [29]:
# Groupby gender
gender_grouped = purchase_data.groupby("Gender")

# Count the total of screen names by gender
total_count_gender = gender_grouped.nunique()["SN"]

# Calculations by gender
percent_players_gender = (total_count_gender / total_players)* 100
gender_demographics = pd.DataFrame({"Percentage of Players": percent_players, "Total Count": total_count_gender})

# Format the data frame with no index name and showing percentages accordingly
gender_demographics.index.name = None
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
#Obtain purchasing analysis parameters by gender
purchase_count_gender = gender_grouped["SN"].count()
avg_purchase_price_gender = gender_grouped["Price"].mean()
total_purchase_value_gender = gender_grouped["Price"].sum()
avg_purchase_per_person_gender =avg_purchase_price/total_count_gender

#create a dataframe with the parameters and format accordingly
purchasing_analysis_gender= pd.DataFrame({"Purchase Count": purchase_count_gender, 
                                    "Average Purchase Price": avg_purchase_price_gender,
                                    "Total Purchase Value": total_purchase_value_gender,
                                    "Average Purchase Total per Person": avg_purchase_per_person_gender})
purchasing_analysis_gender.index.name = "Gender"
purchasing_analysis_gender.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [35]:
#Create bins for age groups
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Sort data into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_groups)
purchase_data
age_grouped = purchase_data.groupby("Age Group")
total_age_count = age_grouped["SN"].nunique()
percent_players_age = (total_age_count/total_players) * 100

#Create a dataframe with the sorted data and format
age_demographics = pd.DataFrame({"Percentage of Players": percent_players_age, "Total Count": total_age_count})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#Groupby age and calculate purchasing analysis parameters by age
purchase_count_age = age_grouped["SN"].count()
avg_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value_age = age_grouped["Price"].sum()
avg_purchase_per_person_age =avg_purchase_price_age/total_age_count

#Create a dataframe a format
purchasing_analysis_age= pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value_age,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})
purchasing_analysis_age.index.name = None
purchasing_analysis_age.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
# Groupby screen names
top_spenders = purchase_data.groupby(["SN"])

# Calculate top spending parameters
total_purchase_value_spender = top_spenders["Price"].sum()
purchase_count_spender = top_spenders["Purchase ID"].count()
avg_purchase_price_spender = top_spenders["Price"].mean()

#Create a dataframe in descending order with appropriate formatting

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":total_purchase_value_spender})
descending_spenders = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
descending_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
#Retrieve the Iten ID, Item Name and Item Price columns

item_cols = purchase_data[["Item ID", "Item Name", "Price"]]

#Groupby and calculations

item_stats = item_cols.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
total_purchase_value_item = (item_stats["Price"].sum()) 
item_price = total_purchase_value_item/purchase_count_item

#Create and format a dataframe with these parameters
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value": total_purchase_value_item})
popular_items_descending = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_items_descending.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [42]:
most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
popular_items_descending.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})